html,
body {
    margin: 0;
}

.weather-app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.weather-app__map-errors {
    margin: 0 0 0 50px;
    color: red;
    font-size: 20px;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}