html,
body {
    height: 100%;
    margin: 0;
}

#map {
    flex: 1;
}

.weather-app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.weather-app__map-errors {
    margin: 0 0 0 50px;
    color: red;
    font-size: 20px;
}